<ul>
    <li>@Html.ActionLink("Simular Leitura", "Qr", "Simulacao")</li>
    <li>@Html.ActionLink("Eventos", "Index", "Eventos")</li>
    <li>@Html.ActionLink("Usuários", "Index", "Usuarios")</li>
</ul>


